@import url('https://fonts.googleapis.com/css?family=Muli:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fbfcfe;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

/* basic container styles */
.container{
    background-color: #fff;
    border: 3px #000 solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}


.code {
    border-radius: 5px;
    font-size: 72px;
    height: 120px;
    width: 100px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    /* the following lines are to hide the blinking cursor 
    but still keeping the number visible using text shadow */
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* to remove the up and down arrows in the chrome and safari browser 
todo:search about the other browsers to hide this */
.code::-webkit-outer-spin-button, .code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* if the number entered is valid show some indication */
.code:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
}

/* wrap the inputs if it is on small screen */
@media (max-width: 600px){
    .code-container{
        flex-wrap: wrap;
    }

    .code {
        font-size: 60px;
        height: 80px;
        max-width: 70px;
    }
}
