@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    background-color: steelblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1{
    text-align: center;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: inherit;
    transition: transform 0.2s ease;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.97);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus, .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span, .form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

/* just for my inqusitiveness */
/* .form-control input:focus + label, .form-control input:valid + label {
    transition: all 0.3s ease;
    transform: scale(0.7) translateY(-30px);
    left: -10px
} */
