@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #7bdaf3;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #9EC862;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.add:focus {
    outline: none;
}

.add:active {
    transform: scale(0.98);
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 250px;
    width: 250px;
    overflow: auto;
    position: relative;
}

.note .tools {
    background-color: #9EC862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .tools button:focus {
    outline: none;
}

.note .tools button:active {
    transform: scale(1.2);
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: calc(250px - 50px);
    width: 250px;
    resize: none;
}

.note .hidden {
    display: none;
}

div.main {
    padding: 15px;
}
