* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
}

.fill {
    background-image: url("https://source.unsplash.com/random/150x150");
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.fill.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #eee;
    border-color: white;
    border-style: dashed;
}

@media (max-width: 800px){
    body {
        flex-direction: column;
    }
}
